<div id="containerGeneralProfessionalProfile">
    <div id="containerMainTitle">
        <div id="containerInformation">
            <h1 id="titleName">Ivan Caballero</h1>
            <h2 id="professionalTitle">Desarrollador full-stack</h2>
        </div>
    </div>
    <div id="containerText">
        <h1 id="titleProfessionalProfile">Perfil Profesional</h1>
        <p id="textProfessionalProfile">
            Soy un apasionado programador Angular con una sólida base en el desarrollo de 
            aplicaciones web. Mi compromiso con la excelencia técnica y mi deseo constante de 
            aprender y crecer en el mundo de la tecnología me impulsan a buscar oportunidades 
            para contribuir y avanzar en mi carrera en el desarrollo de software.
            <br><br>
            Busco la oportunidad de unirme a un equipo de desarrollo innovador donde pueda 
            aplicar mis habilidades técnicas y mi entusiasmo por la tecnología. Estoy dispuesto 
            a aprender, aportar ideas y trabajar de manera efectiva para alcanzar los objetivos 
            del proyecto. 
            <br><br>
            Mi objetivo es crecer como desarrollador Angular y contribuir al éxito 
            de proyectos desafiantes.
        </p>
    </div>
</div>