<div id="containerGeneralProfessionalProfile">
    <div id="containerText">
        <h1 id="titleProfessionalProfile">Perfil Profesional</h1>
        <p id="textProfessionalProfile">
            Soy un programador junior con experiencia en el desarrollo de aplicaciones web 
            escalables y mantenibles.
            <br><br>
            Mi compromiso con la excelencia técnica y mi deseo constante de aprender y crecer en 
            el mundo de la tecnología me impulsan a buscar oportunidades para contribuir y avanzar
            en mi carrera en el desarrollo de software. Busco la oportunidad de unirme a un equipo 
            de desarrollo innovador donde pueda aplicar mis habilidades técnicas y mi entusiasmo 
            por la tecnología.
            <br><br>
            Estoy dispuesto a aprender, aportar ideas y trabajar de manera efectiva para alcanzar 
            los objetivos del proyecto. Mi objetivo es crecer como desarrollador y contribuir al 
            éxito de proyectos desafiantes.
        </p>
    </div>
</div>