<div id="generalEducationContainer">
    <h1 id="titleEducation">Educación</h1>
    <ul id="listStudies">
        <li class="itemsStudies">
            <p id="headingStudies" class="headingsStudies">Diplomado en ciberseguridad</p>
            <p id="institution" class="institutions">Google</p>
            <p id="date" class="dates">septiembre 2023 - cursando</p>
        </li>
        <li class="itemsStudies">
            <p id="headingStudies" class="headingsStudies">Ingenieria Electronica</p>
            <p id="institution" class="institutions">Universidad distrital Francisco Jose de Caldas</p>
            <p id="date" class="dates">enero 2022 - cursando</p>
        </li>
        <li class="itemsStudies">
            <p id="headingStudies" class="headingsStudies">Diplomado de programación front end</p>
            <p id="institution" class="institutions">Universidad Santo Tomas</p>
            <p id="date" class="dates">junio 2021 - diciembre 2021</p>
        </li>
        <li class="itemsStudies">
            <p id="headingStudies" class="headingsStudies">Bachiller academico</p>
            <p id="institution" class="institutions">I.E.D. Marco Fidel Suarez</p>
            <p id="date" class="dates">enero 2019 - diciembre 2020</p>
        </li>
    </ul>
</div>