<div id="containerGeneralSkill">
    <h1 id="titleContainerGeneralSkill">Habilidades</h1>
    <ul id="listSkill">
        <li id="programmingLanguaje" class="typeSkill">
            <h2 class="skillSectionTitles">Lenguajes de programación</h2>
            <div class="containerSlider">
                <div id="sliderProgrammingLanguaje">
                    <div class="sliderSectionProgrammingLanguaje">
                        <img class="sliderImgProgrammingLanguaje" src="../../../assets/images/icons/iconoJavascript.svg" alt="Icono JavaScript">
                        <p class="textIcon">JavaScript</p>
                    </div>
                    <div class="sliderSectionProgrammingLanguaje">
                        <img class="sliderImgProgrammingLanguaje" src="../../../assets/images/icons/iconoTypescript.svg" alt="Icono TypeScript">
                        <p class="textIcon">TypeScript</p>
                    </div>
                    <div class="sliderSectionProgrammingLanguaje">
                        <img class="sliderImgProgrammingLanguaje" src="../../../assets/images/icons/iconoPython.svg" alt="Icono Phyton">
                        <p class="textIcon">Phyton</p>
                    </div>
                </div>
                <div class="sliderButtonsProgrammingLanguaje" id="sliderButtonLeftProgrammingLanguaje" (click)="moveSliderToLeft($event)"> &#60; </div>
                <div class="sliderButtonsProgrammingLanguaje" id="sliderButtonRightProgrammingLanguaje" (click)="moveSliderToRight($event)"> &#62; </div>
            </div>
        </li>
        <li id="webTechnology" class="typeSkill">
            <h2 class="skillSectionTitles">Tecnologias web</h2>
            <div class="containerSlider">
                <div id="sliderWebTechnology">
                    <div class="sliderSectionWebTechnology">
                        <img class="sliderImgWebTechnology" src="../../../assets/images/icons/iconoHTML.svg" alt="Icono HTML5">
                        <p class="textIcon">HTML5</p>
                    </div>
                    <div class="sliderSectionWebTechnology">
                        <img class="sliderImgWebTechnology" src="../../../assets/images/icons/iconoCSS.svg" alt="Icono CSS3">
                        <p class="textIcon">CSS3</p>
                    </div>
                    <div class="sliderSectionWebTechnology">
                        <img class="sliderImgWebTechnology" src="../../../assets/images/icons/iconoAngular.svg" alt="Icono Angular">
                        <p class="textIcon">Angular</p>
                    </div>
                    <div class="sliderSectionWebTechnology">
                        <img class="sliderImgWebTechnology" src="../../../assets/images/icons/iconoNode.svg" alt="Icono NodeJS">
                        <p class="textIcon">NodeJS</p>
                    </div>
                </div>
                <div class="sliderButtonsWebTechnology" id="sliderButtonLeftWebTechnology" (click)="moveSliderToLeft($event)"> &#60; </div>
                <div class="sliderButtonsWebTechnology" id="sliderButtonRightWebTechnology" (click)="moveSliderToRight($event)"> &#62; </div>
            </div>
        </li>
        <li id="database" class="typeSkill">
            <h2 class="skillSectionTitles">Base de datos</h2>
            <div class="containerSlider">
                <div id="sliderDataBase">
                    <div class="sliderSectionDataBase">
                        <img class="sliderImgDataBase" src="../../../assets/images/icons/iconoPostgreSQL.svg" alt="Icono PostgreSQL">
                        <p class="textIcon">PostgreSQL</p>
                    </div>
                    <div class="sliderSectionDataBase">
                        <img class="sliderImgDataBase" src="../../../assets/images/icons/iconoFirebase.svg" alt="Icono Firebase">
                        <p class="textIcon">Firebase</p>
                    </div>
                    <div class="sliderSectionDataBase">
                        <img class="sliderImgDataBase" src="../../../assets/images/icons/iconoMongoDB.svg" alt="Icono MongoDB">
                        <p class="textIcon">MongoDB</p>
                    </div>
                </div>
                <div class="sliderButtonsDataBase" id="sliderButtonLeftDataBase" (click)="moveSliderToLeft($event)"> &#60; </div>
                <div class="sliderButtonsDataBase" id="sliderButtonRightDataBase" (click)="moveSliderToRight($event)"> &#62; </div>
            </div>
        </li>
        <li id="other" class="typeSkill">
            <h2 class="skillSectionTitles">Otros</h2>
            <div class="containerSlider">
                <div id="sliderOther">
                    <div class="sliderSectionOther">
                        <img class="sliderImgOther" src="../../../assets/images/icons/iconoAPIRest.svg" alt="Icono API Rest">
                        <p class="textIcon">API Rest</p>
                    </div>
                </div>
                <div class="sliderButtonsOther" id="sliderButtonLeftOther" (click)="moveSliderToLeft($event)"> &#60; </div>
                <div class="sliderButtonsOther" id="sliderButtonRightOther" (click)="moveSliderToRight($event)"> &#62; </div>
            </div>
        </li>
    </ul>
</div>