#containerGeneralProjects{
    background-image: url(../../../assets/images/background/fondoNavidad.svg);
    /* background-size: 100% 150%; */
    /* background-repeat: no-repeat; */
    height: calc(100vh - 50px);
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    justify-items: center;
    align-items: center;
}

#containerGeneralProjects p{
    color: #F4D644;
    font-size: 35px;
    font-weight: bolder;
    background: rgba(42, 18, 84, 0.6);
    height: 100%;
    width: 100%;
}

#containerGeneralProjects p{
    font-weight: bold;
    text-align: center;
}

#containerGeneralProjects img{
    height: 100%;
}