<div id="containerGeneral">
    <div id="containerHeader" #containerHeader>
        <div id="containerInformationHeader" [@changeSize]="actualStateChangeSize">
            <div id="containerGeneralPhoto">
                containerGeneralPhoto
            </div>
            <div id="informationHeader" #informationHeader>
                <h1 id="titleName" [@changeVisibility]="actualStateChangeVisibility">Ivan Fernando Caballero</h1>
                <h2 id="titlePosition" [@changeVisibility]="actualStateChangeVisibility">Desarrollador junior full-stack</h2>
            </div>
        </div>
    </div>
    <div id="containerInformation">
        <div id="containerLeft">
            <div id="containerInformationGeneral">
                <div id="containerPhone" class="containerSectionInformationGeneral">
                    <i class="fa-duotone fa-circle-phone iconsInformationGeneral"></i>
                    <p id="phoneNumber" class="containerItemInformationGeneral">+57 3106706200</p>
                </div>
                <div id="containerEmail" class="containerSectionInformationGeneral">
                    <i class="fa-duotone fa-envelope-open iconsInformationGeneral"></i>
                    <p id="email" class="containerItemInformationGeneral">ivanf_59&#64;hotmail.com</p>
                </div>
                <div id="containerLocation" class="containerSectionInformationGeneral">
                    <i class="fa-duotone fa-location-dot iconsInformationGeneral"></i>
                    <p id="location" class="containerItemInformationGeneral">Bogota D.C. - Colombia</p>
                </div>
            </div>
            <ul id="containerSpecificInformation">
                <li id="itemEducation" #itemEducation class="containerItemSpecificInformation" (click)="(changeVisibility(itemEducation.id))">
                    <div class="itemSpecificInformation">
                        <h2 class="titleSpecificInformation">EDUCACIÓN</h2>
                        <hr class="separatorInformation">
                    </div>
                </li>
                <li id="itemExpertise" #itemExpertise class="containerItemSpecificInformation" (click)="(changeVisibility(itemExpertise.id))">
                    <div class="itemSpecificInformation">
                        <h2 class="titleSpecificInformation">HABILIDADES</h2>
                        <hr class="separatorInformation">
                    </div>
                </li>
                <li id="itemProjects" #itemProjects class="containerItemSpecificInformation" (click)="(changeVisibility(itemProjects.id))">
                    <div class="itemSpecificInformation">
                        <h2 class="titleSpecificInformation">PROYECTOS</h2>
                        <hr class="separatorInformation">
                    </div>
                </li>
            </ul>
        </div>
        <div id="containerRight" #containerRight >
            <div id="containerHeaderRigth" #containerHeaderRigth class="visible" (click)="(changeVisibility(containerHeaderRigth.id))">
                <h2>PERFIL PROFESIONAL</h2>
            </div>
    
            <div id="containerModuleProfessionalProfile" #containerModuleProfessionalProfile>
                <app-professional-profile></app-professional-profile>
            </div>
    
            <div id="containerModuleEducation" #containerModuleEducation class="visible">
                <app-education></app-education>
            </div>
    
            <div id="containerModuleExpertise" #containerModuleExpertise class="visible">
                <app-expertise></app-expertise>
            </div>
    
            <div id="containerModuleProjects" #containerModuleProjects class="visible">
                <app-projects></app-projects>
            </div>
        </div>
    </div>
</div>