<div id="generalContainer">
    <img id="imgPopUp" src="../../../../assets/images/background/fenixTraje.svg" alt="mascota con traje">
    <div id="containerTextPopUp" class="centertext">
        <h1 id="titleTextPopUp" class="centertext">¿Quieres comprobar la certificación?</h1>
        <p id="textPopUp">
            ¡Te podemos ayudar!, contactanos y se te hara llegar lo antes posible la información
            que necesitas.
        </p>
        <ul id="contactList">
            <a href="https://wa.me/+573106706200">
                <li class="itemContactList">
                    <img src="../../../../assets/images/icons/whatsappLogo.svg" alt="Logo WhatsApp">
                </li>
            </a>
            <a href="https://www.linkedin.com/in/ivancaballer0">
                <li class="itemContactList">
                    <img src="../../../../assets/images/icons/linkedinLogo.svg" alt="Logo LinkedIn">
                </li>
            </a>
            <a href="mailto:ivanf_59@hotmail.com?subject=Quiero saber mas de ti...">
                <li class="itemContactList">
                    <img src="../../../../assets/images/icons/emailLogo.svg" alt="Logo Correo">
                </li>
            </a>
        </ul>
    </div>
</div>